<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsX2nA7pHrtJafVjublIeUfOubAxDXAEs</string>
	<key>GCM_SENDER_ID</key>
	<string>1009224813457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>craftcode.chargeclaus</string>
	<key>PROJECT_ID</key>
	<string>chargeclaus-935a7</string>
	<key>STORAGE_BUCKET</key>
	<string>chargeclaus-935a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009224813457:ios:23a14eeb4323f23deda830</string>
</dict>
</plist>